body {
    background-image: url("grunge-old-vintage-retro-paper-texture-background_47840-948.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

p {
    text-indent: 15px;
    text-align: justify;
}